
<h1><%= Team.all[0].name %></h1><br />

<h2>Team Motto: <%= Team.all[0].motto %></h2><br />

<h2>Hero Name: <%= Member.all[0].name %></h2><br />
<p>Hero Power: <%= Member.all[0].power %></p><br />
<p>Hero Biography: <%= Member.all[0].bio %></p><br />

<h2>Hero Name: <%= Member.all[1].name %></h2><br />
<p>Hero Power: <%= Member.all[1].power %></p><br />
<p>Hero Biography: <%= Member.all[1].bio %></p><br />

<h2>Hero Name: <%= Member.all[2].name %></h2><br />
<p>Hero Power: <%= Member.all[2].power %></p><br />
<p>Hero Biography: <%= Member.all[2].bio %></p><br />

